<section class="homepagesection">
  <!-- nav Bar -->

  <div class="row">
    <!-- <div class="col-2 sidenav d-flex flex-column justify-content-between">
      <ul class="nav flex-column mt-4">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">User record details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Admin Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <hr>

      <div class="my-5 mx-4">
        <button
          [routerLink]="['/Admin_page']"
          class="btn btn-outline-danger logoutbutton"
        >
          <i class="bi bi-box-arrow-right"></i>Admin page
        </button>
      </div>
    </div> -->

    <div class="col-2">
      <app-sidenav></app-sidenav>
    </div>

    <div class="col">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content deletemodalcontent">
            <div class="modal-header">
              <h1 class="modal-title deletemodaltitle" id="exampleModalLabel">
                Alert!!!
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body deletemodalbody">
              Are you Sure want to delete this record.!
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="deletemodal()"
                data-bs-dismiss="modal"
              >
                Delete Record
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- input box and (add,update button) -->
      <form>
        <div class="row mt-5 mx-0">
          <div class="col"></div>

          <div class="col-sm-8 col-md-5 d-flex gap-4">
            <input
              #inputName
              type="text"
              class="form-control"
              [(ngModel)]="name"
              placeholder="Enter Player details"
              name="recordnames"
            />

            <button
              type="submit"
              class="btn btn-success"
              *ngIf="isShowAddOrUpdateButton"
              (click)="addingRecord()"
            >
              Add
            </button>

            <button
              type="submit"
              class="btn btn-success"
              *ngIf="!isShowAddOrUpdateButton"
              (click)="updatingRecord()"
            >
              Update
            </button>
          </div>
          <div class="col"></div>
        </div>
      </form>

      <!-- Record table -->
      <div class="row m-0">
        <div class="col"></div>

        <div class="col-sm-8 col-md-5 recordtable my-4">
          <table
            class="table table-dark table-striped mt-4"
            *ngIf="arr.length > 0"
          >
            <thead>
              <tr>
                <th>Values</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of arr; let i = index">
                <td>{{ key }}</td>
                <td>
                  <button
                    title="Edit"
                    class="btn btn-success mx-2 editbutton rounded-circle"
                    style="
                      --bs-btn-padding-y: 0.25rem;
                      --bs-btn-padding-x: 0.5rem;
                      --bs-btn-font-size: 0.75rem;
                    "
                    (click)="editingRecord(i)"
                  >
                    <mat-icon style="font-size: 20px">edit</mat-icon>
                  </button>

                  <button
                    title="Delete"
                    class="btn btn-danger deletebutton rounded-circle"
                    style="
                      --bs-btn-padding-y: 0.25rem;
                      --bs-btn-padding-x: 0.5rem;
                      --bs-btn-font-size: 0.75rem;
                    "
                    (click)="deletingRecord(i)"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col"></div>
      </div>
    </div>
  </div>
</section>
