<section class="homepagesection">
  <div class="row">
    <div class="col-2">
      <app-sidenav></app-sidenav>
    </div>

    <div class="col">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content deletemodalcontent">
            <div class="modal-header">
              <h1 class="modal-title deletemodaltitle" id="exampleModalLabel">
                Alert!!!
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body deletemodalbody">
              Are you Sure want to delete this record.!
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="deletemodal()"
                data-bs-dismiss="modal"
              >
                Delete Record
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-2 me-3">
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-plus-lg"></i>Add New Admin
        </button>
      </div>

      <form>
        <div class="row mt-5 mx-0">
          <div class="col"></div>

          <div class="col-sm-8 col-md-5 d-flex gap-4">
            <input
              #inputName
              type="text"
              class="form-control"
              [(ngModel)]="AdminName"
              placeholder="Enter Admin Name"
              name="recordnames"
            />

            <button
              type="submit"
              class="btn btn-success"
              *ngIf="isShowAddOrUpdateButton"
              (click)="addNewAdmin()"
            >
              Add
            </button>

            <button
              type="submit"
              class="btn btn-success"
              *ngIf="!isShowAddOrUpdateButton"
              (click)="updateAdmin()"
            >
              Update
            </button>
          </div>
          <div class="col"></div>
        </div>
      </form>

      <!-- Admin table -->
      <div class="row m-0">
        <div class="col"></div>

        <div class="col-sm-8 col-md-5 Admintable my-4">
          <table
            class="table table-dark table-striped mt-4"
            *ngIf="LocalStorageArray.length > 0"
          >
            <thead>
              <tr>
                <th>AdminName</th>
                <th>Password</th>
                <th>Designation</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of LocalStorageArray; let i = index">
                <td>{{ key }}</td>
                <td></td>
                <td></td>
                <td>
                  <button
                    title="Edit"
                    class="btn btn-success mx-2 editbutton rounded-circle"
                    style="
                      --bs-btn-padding-y: 0.25rem;
                      --bs-btn-padding-x: 0.5rem;
                      --bs-btn-font-size: 0.75rem;
                    "
                    (click)="editAdmin(i)"
                  >
                    <i class="bi bi-pencil">edit</i>
                  </button>

                  <button
                    title="Delete"
                    class="btn btn-danger deletebutton rounded-circle"
                    style="
                      --bs-btn-padding-y: 0.25rem;
                      --bs-btn-padding-x: 0.5rem;
                      --bs-btn-font-size: 0.75rem;
                    "
                    (click)="deleteAdmin(i)"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    <i class="bi bi-trash3">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col"></div>
      </div>
    </div>
  </div>
  
  <!-- <form [formGroup]="AdminForm">
   
    <div
      class="modal fade"
      id="adminPlayerModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title adminPlayerModaltitle">
              Enter Player Details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="formreset()"
            ></button>
          </div>

          <div class="modal-body addPlayerModalbody">
            <div class="mb-2 d-flex flex-column gap-1">
            <div class="d-flex gap-2">
              <div class="mb-2">
                <div class="mb-2 d-flex flex-column gap-1 ms-2">
                  <label for="player_name" class="playerdetailsmodallabel"
                    >Admin Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="playername"
                    placeholder="Enter player name"
                    formControlName="playername"
                  />
                </div>
                <div
                  class="modalrequireddiv"
                  *ngIf="!playerForm.value.playername && isSubmittedClicked"
                >
                  Admin name is required.
                </div>
              </div>

              <div class="mb-2">
                <div class="mb-2 d-flex flex-column gap-1">
                  <label for="playerrating" class="playerdetailsmodallabel"
                    >Password</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="playerrating"
                    placeholder="Enter player rating"
                    formControlName="playerrating"
                  />
                </div>
                <div
                  class="modalrequireddiv"
                  *ngIf="!playerForm.value.playerrating && isSubmittedClicked"
                >
                  Passowrd is required.
                </div>
              </div>
            </div>

            <div class="mb-2 d-flex flex-column gap-1">
              <label for="player_position" class="playerdetailsmodallabel"
                >Designation</label
              >
              <input
                type="text"
                class="form-control"
                id="playerposition"
                placeholder="Enter player position"
                formControlName="playerposition"
              />
            </div>
            <div
              class="modalrequireddiv"
              *ngIf="!playerForm.value.playerposition && isSubmittedClicked"
            >
              Designation is required.
            </div>
          </div>
          <div class="modal-footer">
            <button
              #modalcanclebutton
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
              (click)="formreset()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-outline-primary"
              (click)="addPlayer()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form> -->
</section>
