
.editbutton{
    height: 40px;
    width: 40px;
    transform: scale(0.9);
    padding-top: 8px;
}
.deletebutton{

    border-radius: 50%;
    height: 40px;
    width: 40px;
    transform: scale(0.9);
    padding-top: 5px;
}

  
 .homepagesection{
  /* background-image: url(../../assets/homepagebg.jpg); */
  background-color: #ffffff;
  height:100vh;
  background-size: cover; 
  background-position:top center;
  
 }
 
 .Admintable{
  width: 80%;
  height: 60vh;
  overflow-y: auto;
 }

 .deletemodalcontent{
  /* background-image: url(../../assets/dlt5.webp); */
  background-size: cover;
  color: rgb(14, 15, 15);
  opacity: 100%;
  font-size: larger;

 }

 .deletemodalbody{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
 }
 
 .deletemodaltitle{
  font-family: 'Black Ops One', system-ui;
  font-size: 30px;
  /* background-color: aliceblue; */
 }

 .sidenav{
  background-color: #fff;
  height: 100vh;
 }

 .addNewAdminbtn{
    background-color: #33003c;
    color: #fff;
 }

 .adminPlayerModaltitle {
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    color: #37003c;
  }
  
  .adminPlayerModalbody {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    color: #37003c;
  }
  
  .modalrequireddiv {
    color: red;
  }
 