<div class="row">
  <div class="col-2">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col">
    <table>
      <thead>
          <tr>
              <th>Id <span class="icon-arrow">&UpArrow;</span></th>
              <th>Player <span class="icon-arrow">&UpArrow;</span></th>
              <th>Country <span class="icon-arrow">&UpArrow;</span></th>
              <th>Date <span class="icon-arrow">&UpArrow;</span></th>
              <th>Status <span class="icon-arrow">&UpArrow;</span></th>
              <th>Amount <span class="icon-arrow">&UpArrow;</span></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQBT_9CHCTrrSBl2hZAbdBu-FWhbsMX1R4qNf0UfFPHwFgbOLE1" alt="">Eden Hazard</td>
              <td>Belgium</td>
              <td>17 Dec, 2022</td>
              <td>
                  <p class="status released">Released</p>
              </td>
              <td><strong>$82.90m</strong></td>
          </tr>
          <tr>
              <td>2</td>
              <td><img src="https://i.guim.co.uk/img/media/5f1c5ea628f850be9ecfbee70249e4e5ae05faa6/474_315_3167_1899/master/3167.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=63f9d376f0c838b6c912d96e60ad04d4" alt="">Karim Benzema</td>
              <td>France</td>
              <td>27 Aug, 2023</td>
              <td>
                  <p class="status released">Released</p>
              </td>
              <td><strong>$153.50m</strong></td>
          </tr>
          <tr>
              <td>3</td>
              <td><img src="https://b.fssta.com/uploads/application/soccer/headshots/880.vresize.350.350.medium.13.png" alt="">Luka Modric</td>
              <td>Croatia</td>
              <td>14 Mar, 2023</td>
              <td>
                  <p class="status retained">Retained</p>
              </td>
              <td><strong>$210.40m</strong></td>
          </tr>
          <tr>
              <td>4</td>
              <td><img src="https://b.fssta.com/uploads/application/soccer/headshots/887.vresize.350.350.medium.48.png" alt="">Raphael Varane</td>
              <td>France</td>
              <td>25 May, 2023</td>
              <td>
                  <p class="status obtained">Obtained</p>
              </td>
              <td><strong>$149.70m</strong></td>
          </tr>
          <tr>
              <td>5</td>
              <td><img src="https://i.guim.co.uk/img/media/70c76a7c78728d1d4a100cc64823664b6551c855/853_153_2517_1511/master/2517.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=e00dd3c77d975f8aae157ff6bf866d95" alt="">Sergio Ramos</td>
              <td>Spain</td>
              <td>23 Apr, 2023</td>
              <td>
                  <p class="status retained">Retained</p>
              </td>
              <td><strong>$99.99m</strong></td>
          </tr>
          <tr>
              <td>6</td>
              <td><img src="https://b.fssta.com/uploads/application/soccer/headshots/53004.vresize.350.350.medium.20.png" alt="">Vinicius Junior</td>
              <td>Brazil</td>
              <td>23 Apr, 2023</td>
              <td>
                  <p class="status obtained">Obtained</p>
              </td>
              <td><strong>$98.99m</strong></td>
          </tr>
          <tr>
              <td>7</td>
              <td><img src="/assets/default _image.jpg" alt="">Casemiro</td>
              <td>Brazil</td>
              <td>20 May, 2023</td>
              <td>
                  <p class="status obtained">Obtained</p>
              </td>
              <td><strong>$69.99m</strong></td>
          </tr>
          <tr>
              <td>8</td>
              <td><img src="/assets/default _image.jpg" alt="">Toni Kroos</td>
              <td>Germany</td>
              <td>30 Feb, 2023</td>
              <td>
                  <p class="status retained">Retained</p>
              </td>
              <td><strong>$149.70m</strong></td>
          </tr>
          <tr>
              <td>9</td>
              <td><img src="/assets/default _image.jpg" alt="">Dani Carvajal</td>
              <td>Spain</td>
              <td>22 Dec, 2023</td>
              <td>
                  <p class="status released">Released</p>
              </td>
              <td><strong>$49.99m</strong></td>
          </tr>
          <tr>
              <td>10</td>
              <td><img src="/assets/default _image.jpg" alt="">Gareth Bale</td>
              <td>Wales</td>
              <td>22 Dec, 2023</td>
              <td>
                  <p class="status obtained">Obtained</p>
              </td>
              <td><strong>$49.99m</strong></td>
          </tr>
      </tbody>
  </table>
    
  </div>
</div>
