<div class="page-header header-filter loginpage">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login pb-4">
          <form class="form" method="" action="">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">Login with</h4>

              <div class="social-line">
                <a
                  href="https://www.google.com"
                  class="btn btn-just-icon btn-link"
                >
                  <i class="bi bi-google"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link">
                  <i class="bi bi-envelope-fill"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link">
                  <i class="bi bi-facebook"></i>
                </a>
              </div>
            </div>
            <p class="description text-center">Or</p>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">person</i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Username..."
                  [(ngModel)]="loginUserName"
                  name="loginname"
                />
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Password..."
                  [(ngModel)]="password"
                  name="password"
                />
              </div>
              <div class="d-flex justify-content-end ">
                <a class="forgotpassworddiv" [routerLink]="['/forgotpassword']">Forgot Password?</a>
              </div>
            </div>

            <div class="footer text-center">
              <button
                class="btn btn-primary mx-3 loginbutton"
                (click)="verifyAdmin()"
              >
                LogIn
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
