<div class="row m-0">
  <div class="col-2">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col main-content">
    <div
      class="loaderDiv d-flex justify-content-center align-items-center"
      *ngIf="loader"
    >
      <span class="loader"></span>
    </div>

    <!-- Top navbar -->
    <nav
      class="navbar navbar-tp navbar-expand-md navbar-dark bg-primary topnav sticky-top"
      id="navbar-main"
    >
      <div class="container-fluid">
        <div class="d=flex topnav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                [routerLink]="['/homepage']"
                class="mx-4 mb-0 text-black text-uppercase d-none d-lg-inline-block nav-link"
                >Perfomance Tab</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/homepage']"
                class="mx-4 mb-0 text-black text-uppercase d-none d-lg-inline-block nav-link"
                >Player Stats</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="mx-4 mb-0 text-black text-uppercase d-none d-lg-inline-block nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                >Titles</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">UCL</a></li>
                <li><a class="dropdown-item" href="#">La Liga</a></li>
                <li><a class="dropdown-item" href="#">Fa Cup</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/homepage']"
                class="mx-4 mb-0 text-black text-uppercase d-none d-lg-inline-block nav-link"
                >Top Rating</a
              >
            </li>
          </ul>
        </div>
        <!-- Form -->
        <form
          class="navbar-search navbar-search-dark form-inline mr-1 d-none d-md-flex ml-lg-auto"
        >
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="bi bi-search searchicon"></i>
                </span>
              </div>
              <input
                class="form-control searchinputtag ps-0"
                placeholder="Search for Players..."
                type="text"
                (keyup)="searchSepcificCard()"
              />
            </div>
          </div>
        </form>
      </div>
    </nav>

    <div class="container-fluid text-center maindiv">
      <div class="col">
        <!-- input Modal -->

        <!-- <form class="mb-4"> -->
        <div class="d-flex justify-content-end mx-2 mb-4 mt-3">
          <div class="">
            <button
              class="btn newplayeraddbutton"
              data-bs-toggle="modal"
              data-bs-target="#addPlayerModal"
            >
              <i class="bi bi-plus-lg"></i>ENROLL NEW PLAYER
            </button>
          </div>

          <form [formGroup]="playerForm">
            <!-- add new player Modal -->
            <div
              class="modal fade"
              id="addPlayerModal"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              aria-labelledby="staticBackdropLabel"
              aria-hidden="true"
              tabindex="-1"
              role="dialog"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title addPlayerModaltitle">
                      Enter Player Details
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      (click)="resetForm()"
                    ></button>
                  </div>

                  <div class="modal-body addPlayerModalbody">
                    <div class="mb-2 d-flex flex-column gap-1">
                      <label for="playerimage" class="playerdetailsmodallabel"
                        >Player ImageUrl</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="playerimage"
                        placeholder="place player profile url here...."
                        formControlName="playerimage"
                      />
                    </div>

                    <div class="d-flex gap-2">
                      <div class="mb-2">
                        <div class="mb-2 d-flex flex-column gap-1 ms-2">
                          <label
                            for="player_name"
                            class="playerdetailsmodallabel"
                            >Player Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="playername"
                            placeholder="Enter player name"
                            formControlName="playername"
                          />
                        </div>
                        <div
                          class="modalrequireddiv"
                          *ngIf="
                            !playerForm.value.playername && isSubmittedClicked
                          "
                        >
                          Player name is required.
                        </div>
                      </div>

                      <div class="mb-2">
                        <div class="mb-2 d-flex flex-column gap-1">
                          <label
                            for="playerrating"
                            class="playerdetailsmodallabel"
                            >Player Rating</label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="playerrating"
                            placeholder="Enter player rating"
                            formControlName="playerrating"
                          />
                        </div>
                        <div
                          class="modalrequireddiv"
                          *ngIf="
                            !playerForm.value.playerrating && isSubmittedClicked
                          "
                        >
                          Player rating is required.
                        </div>
                      </div>
                    </div>

                    <div class="mb-2 d-flex flex-column gap-1">
                      <label
                        for="player_position"
                        class="playerdetailsmodallabel"
                        >Player Position</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="playerposition"
                        placeholder="Enter player position"
                        formControlName="playerposition"
                      />
                    </div>
                    <div
                      class="modalrequireddiv"
                      *ngIf="
                        !playerForm.value.playerposition && isSubmittedClicked
                      "
                    >
                      Player position is required.
                    </div>
                    <div class="mb-2 d-flex flex-column gap-1">
                      <label for="playercountry" class="playerdetailsmodallabel"
                        >Player Country</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="playercountry"
                        placeholder="Enter player Country"
                        formControlName="playercountry"
                      />
                    </div>
                    <div
                      class="modalrequireddiv"
                      *ngIf="
                        !playerForm.value.playercountry && isSubmittedClicked
                      "
                    >
                      Player country is required.
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      #modalCancleButton
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                      (click)="resetForm()"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      (click)="addPlayer()"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row playerscardsrow">
        <div class="col-3" *ngFor="let cardDetail of playerCard">
          <div class="card mx-2 mb-4 playercard">
            <img
              src="{{ cardDetail.playerimage }}"
              class="card-img-top cardimg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title mb-0 mt-0">{{ cardDetail.playername }}</h5>
              <p class="card-text mb-0 playerposition">
                {{ cardDetail.playerposition }}
              </p>
              <p class="playercountry">{{ cardDetail.playercountry }}</p>
              <h3 class="rating mb-0 mb-3">
                {{ cardDetail.playerrating }}
                <i class="bi bi-star-fill mt-3"></i>
              </h3>
              <button
                class="btn btn-outline-primary cardeditbutton"
                title="Edit"
                data-bs-toggle="modal"
                data-bs-target="#updatePlayerModal"
                (click)="fetchUpdatePlayerIndex(cardDetail.playerid)"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>

              <button
                class="btn btn-outline-danger carddeletebutton"
                title="Delete"
                data-bs-toggle="modal"
                data-bs-target="#cardDeleteConformationmodal"
                (click)="fetchDeletePlayerIndex(cardDetail.playerid)"
              >
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- delete conformation modal -->
        <div class="modal" tabindex="-1" id="cardDeleteConformationmodal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title deleteconfromationmodaltitle mt-2">
                  Conformation!!!
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body deleteconfromationmodalbody">
                <p>Are you Sure want to delete this card..?</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancle
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  (click)="deletePlayer(deleteplayerIndex)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="playerForm">
        <!-- Update player Modal -->
        <div
          class="modal fade"
          id="updatePlayerModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
          tabindex="-1"
          role="dialog"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title updatePlayerModaltitle">
                  Update Player Details
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  (click)="resetForm()"
                ></button>
              </div>

              <div class="modal-body updatePlayerModalbody">
                <div class="mb-2 d-flex flex-column gap-1">
                  <label for="playerimage" class="playerdetailsmodallabel"
                    >Player ImageUrl</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="playerimage"
                    placeholder="place player profile url here...."
                    formControlName="playerimage"
                  />
                </div>

                <div class="d-flex gap-2">
                  <div class="mb-2">
                    <div class="mb-2 d-flex flex-column gap-1 ms-2">
                      <label for="player_name" class="playerdetailsmodallabel"
                        >Player Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="playername"
                        placeholder="Enter player name"
                        formControlName="playername"
                      />
                    </div>
                    <div
                      class="modalrequireddiv"
                      *ngIf="!playerForm.value.playername && isSubmittedClicked"
                    >
                      Player name is required.
                    </div>
                  </div>

                  <div class="mb-2">
                    <div class="mb-2 d-flex flex-column gap-1">
                      <label for="playerrating" class="playerdetailsmodallabel"
                        >Player Rating</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="playerrating"
                        placeholder="Enter player rating"
                        formControlName="playerrating"
                      />
                    </div>
                    <div
                      class="modalrequireddiv"
                      *ngIf="
                        !playerForm.value.playerrating && isSubmittedClicked
                      "
                    >
                      Player rating is required.
                    </div>
                  </div>
                </div>

                <div class="mb-2 d-flex flex-column gap-1">
                  <label for="player_position" class="playerdetailsmodallabel"
                    >Player Position</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="playerposition"
                    placeholder="Enter player position"
                    formControlName="playerposition"
                  />
                </div>
                <div
                  class="modalrequireddiv"
                  *ngIf="!playerForm.value.playerposition && isSubmittedClicked"
                >
                  Player position is required.
                </div>
                <div class="mb-2 d-flex flex-column gap-1">
                  <label for="playercountry" class="playerdetailsmodallabel"
                    >Player Country</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="playercountry"
                    placeholder="Enter player Country"
                    formControlName="playercountry"
                  />
                </div>
                <div
                  class="modalrequireddiv"
                  *ngIf="!playerForm.value.playercountry && isSubmittedClicked"
                >
                  Player country is required.
                </div>
              </div>
              <div class="modal-footer">
                <button
                  #updateCancleButton
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="resetForm()"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="updatePlayer()"
                >
                  update
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
