<div class="d-flex justify-content-center align-items-center pt-5">
  <div class="forgotpassdiv ">
    <h2 class="forgotpassHeading">Change Password</h2>
    <form action="" method="POST">
      <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
          <label for="admin_id">Admin ID:</label>
          <input type="text" id="admin_id" name="admin_id" required>
      </div>
      <div class="form-group">
          <label for="new_password">Create New Password:</label>
          <input type="password" id="new_password" name="new_password" required>
      </div>
      <div class="form-group">
          <label for="confirm_password">Re-enter New Password:</label>
          <input type="password" id="confirm_password" name="confirm_password" required>
      </div>
      <div class="form-group">
         <button class="btn btn-success">
          Reset Password
         </button>
      </div>
  </form>
  </div>
</div>