<div class="row">
  <div class="col-2">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col mainbody d-flex align-items-center ms-3">
    <div style="width: 20rem;">
      <canvas id="polarChart" width="20" height="20"></canvas>
    </div>
      <div class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-2">
          <div class="winchartpointer"></div>
          <label for="">Matches Won</label>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div class="drawchartpointer"></div>
          <label for="">Draw Matches</label>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div class="losechartpointer"></div>
          <label for="">Matches Lose</label>
        </div>
      </div>
        

  </div>
  <div class="col">

  </div>
</div>