<nav
  class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light sidenavcol"
  id="sidenav-main"
>
  <div class="d-flex justify-content-center navlogodiv">
    <img class="navLogo" src="../../assets/madrid_logo.png" alt="sidenavimg" />
  </div>
  <hr />
  <div class="sidenavuldiv mt-2">
    <ul class="navbar-nav sidenav mb-3">
      <li class="nav-item">
        <a [routerLink]="['/Dashboard']">
          <i class="bi bi-house"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/Player_card']">
          <i class="bi bi-file-earmark-person"></i>
          <span>Playercards</span>
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/popularity_table']">
          <i class="bi bi-bar-chart-fill"></i>
          <span>Popularity Table</span>
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/Player_data']">
          <i class="bi bi-arrow-left-right"></i>
          <span>Transfers</span>
        </a>
      </li>
      <li></li>
      <li class="nav-item">
        <a [routerLink]="['/login']">
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <hr />
</nav>
